.data-page {
  height: clamp(80vh, 90vh, 94vh);
}
.nav-bar {
  height: clamp(1rem, 2rem, 6vh);
}
.connection-page {
  width: clamp(10rem, 22rem, 35.625rem);
}

.side-bar {
  max-height: 100%;
  overflow: hidden;
  /* scrollbar-width: none; */
}
.side-bar::-webkit-scrollbar {
  display: none;
}
.side-bar:hover {
  overflow-y: scroll;
  /* scrollbar-width: auto; */
}
