.page {
  max-width: 700px;
  margin-inline: auto;
}
.data-page {
  height: clamp(80vh, 90vh, 94vh);
}
.nav-bar {
  width: 100%;
  height: clamp(1rem, 2rem, 6vh);
}
.connection-page {
  width: clamp(10rem, 22rem, 35.625rem);
}

.side-bar {
  max-height: 100%;
  max-width: 30%;
  /* overflow: hidden; */
  flex-wrap: nowrap;
  /* scrollbar-width: none; */
}
.side-bar::-webkit-scrollbar {
  display: none;
}
.side-bar:hover {
  /* overflow-y: scroll; */
  /* scrollbar-width: auto; */
}

.disabled-color {
  filter: invert(72%) sepia(2%) saturate(3%) hue-rotate(326deg) brightness(95%)
    contrast(89%);
}
.currency-item {
  cursor: default;
}
